/*****************************************/
/* Main layout UI controls
/*****************************************/

@import url(https://fonts.googleapis.com/css?family=Exo:400);

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
    background: linear-gradient(to bottom,  rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9) 51%);
    background-size: 100% 4px;

    /* background: radial-gradient(#212429,#1f1013); */

    /* background: #333333;
    background-image: 
        linear-gradient(rgba(80, 80, 80, 0.1) .05rem, transparent .05rem), 
        linear-gradient(90deg, rgba(80, 80, 80, .1) .05rem, transparent .05rem);
    background-size: 1rem 1rem; */

    font-family: exo, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: #efefef;
}

#container-div {
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#container-div #container-anim-div{
    background-color: rgb(60, 60, 60, .3);
    height: 4px;
    top: 100%;
    box-shadow: 0 0 8px rgb(60, 60, 60, .3);
    animation: scanning 7s infinite;
}

@keyframes scanning {
    80% {
      transform: translateY(100vh);
    }
}

#title-div {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 6px;
    padding-bottom: 8px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-kerning: none;
    filter: drop-shadow(.05rem .05rem .25rem rgb(233, 209, 105));
    z-index: 2;
    position: relative;
}

#header-div {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    z-index: 2;
    position: relative;
}

.content-div {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
}

#enable-scanning-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    border: solid 2px rgb(0, 97, 243);
    background: linear-gradient(#005de9,#00327e);
    color: rgb(216, 231, 255);
    font-size: 16pt;
}

#awaiting-scan-div {
    margin-top: 20px;
    padding-top: 55px;
    padding-bottom: 60px;
    width: 30vh;
    border-radius: 8px;
    border: solid 2px rgb(13, 110, 253);
    text-align: center;
    animation: fadeInOut 1s infinite alternate;
}

@keyframes fadeInOut {
    from {
        opacity: 0.1;
    }
}

#scanning-active-div {
    margin-top: 20px;
    padding-top: 55px;
    padding-bottom: 60px;
    width: 30vh;
    border-radius: 8px;
    border: solid 2px rgb(255, 150, 0);
    text-align: center;
}

#card-scan-anim-div  {
    background-color: rgba(255, 150, 0, 0.7);
    /* margin-top: -55px; */
    height: 4px;
    top: 100%;
    box-shadow: 0 0 8px rgba(150, 50, 0, 0.5);
    animation: cardscan 3s infinite;
}

@keyframes cardscan {
    50% {
        transform: translate(0, 52px);
    }
}

#access-granted-div {
    margin-top: 20px;
    padding-top: 55px;
    padding-bottom: 60px;
    width: 30vh;
    border-radius: 8px;
    border: solid 2px rgb(10, 180, 10);
    text-align: center;
}

#access-denied-div {
    margin-top: 20px;
    padding-top: 55px;
    padding-bottom: 60px;
    width: 30vh;
    border-radius: 8px;
    border: solid 2px rgb(170, 10, 0);
    text-align: center;
}

#message-div {
    margin-top: 5cqw;
    margin-left: 5px;
    font-size: small;
}



/*****************************************/
/* Helper classes
/*****************************************/

.hidden {
    display: none;
}


