/*****************************************/
/* Main layout UI controls
/*****************************************/

@import url(https://fonts.googleapis.com/css?family=Exo:400);

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
    background: linear-gradient(to bottom,  rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9) 51%);
    background-size: 100% 4px;

    /* background: radial-gradient(#212429,#1f1013); */

    /* background: #333333;
    background-image: 
        linear-gradient(rgba(80, 80, 80, 0.1) .05rem, transparent .05rem), 
        linear-gradient(90deg, rgba(80, 80, 80, .1) .05rem, transparent .05rem);
    background-size: 1rem 1rem; */

    font-family: exo, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: #efefef;
}

#container-div {
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#container-div #container-anim-div{
    background-color: rgb(50, 50, 50, .2);
    height: 4px;
    top: 100%;
    box-shadow: 0 0 6px rgb(50, 50, 50, .2);
    animation: scanning 7s infinite;
}

@keyframes scanning {
    80% {
      transform: translateY(100vh);
    }
}

#title-div {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 6px;
    padding-bottom: 8px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-kerning: none;
    filter: drop-shadow(.05rem .05rem .25rem rgb(233, 209, 105));
    z-index: 2;
    position: relative;
}

#header-div {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    z-index: 2;
    position: relative;
}

.content-div {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
}

#enable-scanning-div {
    /* border: solid 1px white */
}

#enable-scanning-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    border: solid 2px rgb(0, 97, 243);
    background: linear-gradient(#005de9,#00327e);
    color: rgb(216, 231, 255);
    font-size: 16pt;
}

#awaiting-scan-div {
    margin-top: 20px;
    padding-top: 55px;
    padding-bottom: 60px;
    width: 30vh;
    border-radius: 8px;
    border: solid 2px rgb(13, 110, 253);
    text-align: center;
    animation: fadeInOut 1s infinite alternate;
}

@keyframes fadeInOut {
    from {
        opacity: 0.1;
    }
}

#scanning-active-div {
    margin-top: 20px;
    padding-top: 55px;
    padding-bottom: 60px;
    width: 30vh;
    border-radius: 8px;
    border: solid 2px rgb(13, 110, 253);
    text-align: center;
}

#access-granted-div {
    margin-top: 20px;
    padding-top: 55px;
    padding-bottom: 60px;
    width: 30vh;
    border-radius: 8px;
    border: solid 2px rgb(10, 180, 10);
    text-align: center;
}

#access-denied-div {
    margin-top: 20px;
    padding-top: 55px;
    padding-bottom: 60px;
    width: 30vh;
    border-radius: 8px;
    border: solid 2px rgb(170, 10, 0);
    text-align: center;
}

#message-div {
    margin-top: 5cqw;
    margin-left: 5px;
    font-size: small;
}



/*****************************************/
/* Helper classes
/*****************************************/

.hidden {
    display: none;
}



/*****************************************/
/* Scan lines
/*****************************************/




/* 

#container-div.scanning::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,
      rgba(170, 184, 190, 0),
      rgba(170, 184, 190, .8));
    animation: scanning .8s linear infinite;
  }



  @keyframes scanning {
    100% { transform: translate(0, 152px); }
} */


  



/* 
.scanlines {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }


  .scanlines:before, .scanlines:after {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
  }
  .scanlines:before {
    width: 100%;
    height: 2px;
    z-index: 2147483649;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.75;
    -webkit-animation: scanline 6s linear infinite;
            animation: scanline 6s linear infinite;
  }
  .scanlines:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483648;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
    background-size: 100% 4px;
    -webkit-animation: scanlines 1s steps(60) infinite;
            animation: scanlines 1s steps(60) infinite;
  }

  @-webkit-keyframes scanline {
    0% {
      transform: translate3d(0, 200000%, 0);
    }
  }
  @keyframes scanline {
    0% {
      transform: translate3d(0, 200000%, 0);
    }
  } */
  /* @-webkit-keyframes scanlines {
    0% {
      background-position: 0 50%;
    }
  }
  @keyframes scanlines {
    0% {
      background-position: 0 50%;
    }
  }
   */